@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@1&family=Unna:wght@400;700&display=swap');
@value pinkk: rgb(217, 138, 200);
@value grayy: #817876ff;
@value beigee: #E2DCDAff;
@value lightbeigee: #b3aca7;
@value brighterb: #e2dedb;
@value coffeee: #726659;
@value bb: #bbb5af;
@value db: #aca49c;

.main {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: beigee;
	font-family: 'Unna';
}

/* img with text */

.imgTxtWraped {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	padding: 10em 0;
	font-family: 'Unna', cursive;
}

.imgTxt {
	position: absolute;
	padding-top: 5em;
	right: 60%;
	font-size: 1.8rem;
	color: grayy;
	animation: flickerAnimation 1s linear forwards;
}

.imgTxtActive {
	font-size: 1.5rem;
	text-decoration: none;
	color: pinkk;
	font-weight: bold;
	cursor: pointer;
	animation: fadeInRight 1s ease-in-out;
}

.image {
	max-height: 500px;
	transition: max-height 0.9s ease;
}

.imageZoom {
	max-height: 550px;
	transition: max-height 0.6s ease;
}

/* Landing */
.allLoader {
	position: relative;
	min-height: 100vh;
	max-width: 100%;
	background-image: url('/soapOne.jpg');
	background-repeat: 'no-repeat';
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

.preloader {
	background: light;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.prlLogo {
	font-family: 'Unna', cursive;
	font-size: 1.3rem;
	z-index: 2;
}

.lightCyanSlider,
.persianGreenSlider,
.whiteSlider {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateX(-100%);
}

.lightCyanSlider {
	background: grayy;
}

.persianGreenSlider {
	background: beigee;
}

.whiteSlider {
	background: light;
}

.hideLoader {
	opacity: 0;
	color: grayy;
	font-weight: lighter;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 10vh;
	padding: 1rem 5rem;
}

.logo {
	font-family: 'Unna', cursive;
	text-decoration: underline;
	font-size: 2.2rem;
	color: grayy;
}

.menuContact {
	font-family: 'Unna', cursive;
	font-size: 1.5rem;
	color: grayy;
}

.menuContact:hover {
	color: pinkk;
}

.heroContent {
	position: absolute;
	display: flex;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* color: pinkk; */
}
.heroContent h2 {
	font-size: 9rem;
	font-family: 'Baskervville', cursive;
	font-weight: lighter;
	color: beigee;
	-webkit-text-stroke: 2px rgb(197, 60, 167);
	text-stroke: 2px rgb(197, 60, 167);
	background-clip: text;
}

/*Infinite*/

.mainInfinite {
	position: relative;
	display: flex;
	height: 60vh;
	margin-bottom: 25vh;
	overflow: hidden;
	background-color: grayy;
}

.sliderContainer {
	position: absolute;
	top: calc(60vh - 350px);
}

.sliderInfinite {
	position: relative;
	white-space: nowrap;
}

.sliderInfinite p {
	position: relative;
	margin: 0px;
	color: beigee;
	font-size: 200px;
	font-weight: 500;
	padding-right: 50px;
}

.sliderInfinite p:nth-of-type(2) {
	position: absolute;
	left: 100%;
	top: 0;
}

/* ContactForm */

.inputStyle::placeholder,
.textStyle::placeholder {
	color: db;
}

.inputStyle:focus::placeholder,
.textStyle::focus:placeholder {
	color: bb;
}

.inputStyle:hover::placeholder,
.textStyle:hover::placeholder {
	color: brighterb;
}

.contactHeading {
	text-align: center;
	font-size: 6rem;
	font-family: 'Baskervville', cursive;
	font-weight: lighter;
	color: beigee;
	-webkit-text-stroke: 2px pinkk;
	text-stroke: 2px pinkk;
	background-clip: text;
}

.formStyle {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 450px;
	padding-bottom: 100px;
	margin: 0 auto;
}

.inputStyle {
	width: 470px;
	height: 50px;
	padding: 0px 15px 0px 15px;
	background: transparent;
	outline: none;
	color: coffeee;
	border: solid 1px lightbeigee;
	border-bottom: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}

.inputStyle:hover {
	background: lightbeigee;
	color: brighterb;
}

.textStyle {
	width: 470px;
	max-width: 470px;
	height: 110px;
	max-height: 110px;
	padding: 15px;
	background: transparent;
	outline: none;
	color: coffeee;
	border: solid 1px lightbeigee;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}

.textStyle:hover {
	background: lightbeigee;
	color: brighterb;
}

.submitBtn {
	width: 502px;
	padding: 10px;
	margin: 5px 0px 0px 0px;
	font-size: 1em;
	color: lightbeigee;
	background: transparent;
	border-radius: 1px;
	outline: none;
	cursor: pointer;
	border: solid 1px lightbeigee;
}

.submitBtn:hover {
	color: pinkk;
}

/* Footer */

.footer {
	display: flex;
	justify-content: flex-end;
	border-top: 1px solid grayy;
	padding: 0.5em 2em;
	color: grayy;
}

/* Mobile */

@media (max-width: 600px) {
	.nav {
		padding: 1rem;
	}

	.heroContent {
		display: block;
		top: 80%;
	}
	.heroContent h2 {
		font-size: 3rem;
	}

	.imgTxt {
		right: 40%;
		padding-top: 0em;
		padding-left: 1em;
		font-size: 1.5rem;
	}

	.imgTxtActive {
		position: absolute;
		padding-top: 5em;
		right: 60%;
		font-size: 1.5rem;
	}

	.image {
		height: 100%;
		width: 100%;
		transition: height 0.9s ease;
	}

	.imageZoom {
		height: 100%;
		width: 100%;
		transition: height 0.6s ease;
	}

	.mainInfinite {
		height: 60vh;
	}

	.sliderContainer {
		top: calc(60vh - 350px);
	}

	.sliderInfinite p {
		font-size: 150px;
	}

	.contactHeading {
		font-size: 3rem;
	}
	.formStyle {
		width: 250px;
	}

	.inputStyle {
		width: 250px;
		height: 50px;
	}

	.textStyle {
		width: 250px;
		max-width: 250px;
	}

	.submitBtn {
		width: 202px;
	}
}

@media (max-width: 300px) {
	.mainInfinite {
		height: 50vh;
	}

	.sliderContainer {
		top: calc(50vh - 250px);
	}

	.sliderInfinite p {
		font-size: 150px;
	}
}

@media (min-width: 601px) and (max-width: 1104px) {
	.heroContent h2 {
		font-size: 5rem;
	}
	.imgTxt {
		padding-top: 1em;
		right: 40%;
	}
	.image {
		height: 60%;
		width: 60%;
		transition: height 0.9s ease;
	}

	.imageZoom {
		height: 70%;
		width: 70%;
		transition: height 0.6s ease;
	}

	.mainInfinite {
		height: 60vh;
	}

	.sliderContainer {
		top: calc(50vh - 350px);
	}

	.sliderInfinite p {
		font-size: 250px;
	}

}

/* animation */

@keyframes rotate {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes flickerAnimation {
	0% {
		top: 100px;
		opacity: 0;
	}
	100% {
		top: 200px;
		opacity: 1;
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX(300px);
	}
	to {
		opacity: 1;
	}
}
